
<div class = "card l">
    <div class ="container">
    <h3>{{tipo}} <div class = "right"><span class="material-symbols-outlined" >workspace_premium</span> </div></h3> 
    <p>proprietario : {{proprietario}} </p> 
    <p>autore del testo : {{autore}}</p>
    <p>Titolo : {{titolo}}</p> 
     <p>data di acquisto: {{time}}</p>
    <p>{{data}}</p> <br>
    <div class = "right">  <a href="{{link}}">Download</a></div>  <!--link di download per il testo-->
    <p>id licenza: {{id}}</p>
    </div>
</div><br> <br>