<div class = "card t">
<div class = "container">
    <h3><a>{{titolo}}</a><div class = "right">{{trust}}</div></h3>
    <p>id : {{id}} </p>
    <p>autore :{{autore}} </p>
    <p>data di deposito: {{data}}</p> <br>
    <p>Acquista:
        <button class="lic-btn D" id ="{{id}}">licenza distribuzione</button>
        <button class="lic-btn R" id="{{id}}">licenza riproduzione</button></p>
</div>
<!--form per l'acquisto delle licenze di riproduzione e distribuzione-->

<div class="form-container" id="R{{id}}"> 
    <p>Licenza di riproduzione</p><br><br>
    <p>Scadenza: <input type="date" id='Rdat{{id}}'> </p>  
    <p>Causale:</p>
    <textarea id="Rcau{{id}}" rows="4" cols="50"></textarea> 
    <p><button class = "rip" id = "{{id}}">conferma e acquista</button>    
    <div class="right" id ="Rcos{{id}}">costo: 0 WEI</div></p>  
</div>

<div class="form-container" id ="D{{id}}"> 
    <p>Licenza di Distribuzione</p><br><br>
    <p>Numero copie: <input id="Dnum{{id}}" type="number" value="42" /></p> 
    <p>Causale:</p>
    <textarea id='Dcau{{id}}' rows="4" cols="50"></textarea>  
<p><button class = "dis" id = "{{id}}">conferma e acquista</button> 
    <div class="right" id ="Dcos{{id}}">costo: 0 WEI</div></p> 
</div>
</div><br>