<!DOCTYPE html>
<!--icona della licenza-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 

<!--icona della barra di ricerca-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



{% load static %}
<link rel="stylesheet" href="{% static '/index.css' %}">


<head>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self';
  style-src 'self'
  https://maxcdn.bootstrapcdn.com/font-awesome/
  https://fonts.googleapis.com/;

  font-src 'self'
  https://fonts.gstatic.com/
  https://fonts.googleapis.com/
  https://maxcdn.bootstrapcdn.com/font-awesome/;


  script-src 'self' 

	 https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js
	 https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js 
	 https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js;"
   >

	<title>Diritto d'autore decentralizzato</title>
	
</head>


<body>
<!-- menu -->
<div id="menu" class = "menu">
	
    <div class = "bar">  
		
        <div class="search">
           <span id = "menubutton" class="menubutton">&#9776;</span> 
           <input type="text" id ="ricerca" class="searchTerm" placeholder="Ricerca per titolo o per autore">
           <button id = "search" class="searchButton"> <i class="fa fa-search"></i></button>
          </button>
        </div>

    </div>

<!-- barra laterale   -->

<div id="sidenav" class="sidenav">
	
<div class="menuelement">
<p>Deposita un Testo:</p>


    <label for="ftitolo">titolo:</label>
    <input type="text" id="ftitolo" name="ftitolo" value="..."><br><br>
    <form method="POST" class="post-form" id = "post-form" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }}  
    </form><br> <br>
    <button id="btn_dep">deposita </button> <br> <br>

	<button id = "mode">visualizza le tue licenze</button> <br><br>

	<p>Banna un utente dall'acquistare le licenze per i tuoi testi:</p>
	<input type="text" id="banuser" name="ftitolo" value="..."><br><br>
	<button id = "ban" >banna</button> <br><br><br>

	<p>Sblocca un utente:</p>
	<input type="text" id="unbanuser" name="ftitolo" value="..."><br><br>
	<button id = "unban" >sblocca</button> <br><br>

	<div class = "right"><button id = "logout">logout</button> </div>
</div>
</div>


     <h2>Diritto d'autore decentralizzato</h2>
     <p>Deposita il tuo testo o la tua opera originale.
        Acquista licenze di riproduzione o di distribuzione 
        per testi di altri autori.
    </p>

    <div class="bold"><p id="portafoglio" >Portafoglio: non connesso</p></div> <br>


	<!--in questo campo vengono iniettate le schede testo o licenza-->
	<p id = "elenco"></p>
    </div>
</body>

{% load static %}
<script src="{%static '/script.js'%}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    </html>