<!DOCTYPE html>
<html>

{% load static %}
<link rel="stylesheet" href="{% static '/login.css' %}">

<head>
    <link rel="shortcut icon" href="{%static '/logo.png'%}" />
  
    <title>Diritto D'autore Decentralizzato</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
    script-src 'self' 
	
    https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js
    https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js;"
   >
   {% csrf_token %}  
</head>

<body >
    
    <div class="login-form">
        <img src="{%static '/logo.png'%}" width="350" height="350" />
        <h2>Login</h2>
            <button id = "login" >Accedi con il tuo Metamask</button>     
    </div>
</body>

<script src="{%static '/login.js'%}"></script> 
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</html>